.wpml_acf_original_value{
    display:none;
}

.select2-container .select2-search--inline{
    width: auto;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
        vertical-align: middle;
}