/*______________ teaser.css ______________*/

@media only screen and (max-width: 599px) {
	.teaser__text {
		margin-bottom: 20px;
	}
}


/*______________ jobs.css ______________ */

.job:last-child {
	margin-bottom: 0px;
}

.job__text h6 {
	margin-bottom: 8px;
}

.job__text p, .job__text ul {
	margin-bottom: 32px;
}

@media only screen and (min-width: 320px) {
	.jobs {
		padding: 88px 0;
	}
}


/*______________ services.css ______________ */

@media only screen and (max-width: 1279px) {
	.service__icon img {
		min-width: 118px;
		margin-top: 10px;
	}
	.service__icon {
		left: -13px;
	}
}


/*______________ interactive-header.css ______________ */

.accordion__content .button {
	margin-bottom: 20px;
}

@media only screen and (min-width: 320px)  {
	.interactive-header {
		padding: 92px 0 120px;
	}
	.accordion__content-in {
		margin-bottom: 105px;
	}
	.accordion__content .button {
		margin-top: 0px;
	}
}

@media only screen and (min-width: 320px)

}

@media only screen and (max-width: 767px) {
	.accordion__content .button {
		left: 0px;
	}
}
@media only screen and (min-width: 1024px) {
	.accordion__content .button {
		margin-top: 50px;
	}
	.interactive-header {
		min-height: 768px;
	}
	.interactive-header {
		padding: 92px 0 0px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
	.accordion__content {
		top: 57px;
	}
}

@media only screen and (min-width: 1680px) {
	.interactive-header {
		min-height: 880px;
	}
}


/*______________ case.css ______________ */

.case__hero-bg {
	background-position: right center;
}

.case__content {
	padding-bottom: 104px;
}

@media only screen and (min-width: 1024px) {
	.case__hero .row > div {
		padding-right: 43.75%;;
	}
}

@media only screen and (orientation: portrait) {
	.case__hero-bg.case__hero-bg--portrait {
		background-position: center bottom;
	}
}


/*______________ quote-slider-automatic.css ______________ */

.quote-slide__pic figcaption {
	margin-right: 8px;
}


/*______________ timeline.css ______________ */

.timeline-box__content-in {
	padding: 64px 0 72px;
}

.timeline-quote__pic figcaption {
	margin-right: 8px;
}

.timeline-quote {
	margin-bottom: 0px;
}

.timeline-quote:last-child {
	margin-bottom: 64px;
}

.timeline-quote__translation {
	font-size: 16px;
	margin-top: 24px;
}

.timeline-box__button {
	padding-top: 32px;
	padding-bottom: 0px;
}

.timeline-box__text {
	margin-bottom: 0px;
}

.timeline-box__text h6 {
	margin-bottom: 8px;
}

.timeline-box__text h6:last-child {
	margin-bottom: 0px;
}

.timeline-box__button:last-child {
	padding-bottom: 0px;
}

.timeline-quote:not(:nth-child(1)) {
	margin-top: 64px;
}

.timeline-box__text:not(:nth-child(1)) {
	margin-top: 64px;
}

@media only screen and (max-width: 719px) {
	.timeline-box__content-in {
		padding: 48px 0 56px;
	}

	.timeline-quote:last-child {
		margin-bottom: 56px;
	}

	.timeline-quote__translation {
		font-size: 14px;
		margin-top: 20px;
	}

	.timeline-box__button {
		padding-top: 24px;
	}

	.timeline-quote:not(:nth-child(1)) {
		margin-top: 56px;
	}

	.timeline-box__text:not(:nth-child(1)) {
		margin-top: 56px;
	}
}


/*______________ teaser.css ______________ */

.teaser:nth-last-child(2) {
	padding-bottom: 70px;
}

.home .teaser:last-child, .page-id-17231 .teaser:last-child, .page-id-22430 .teaser:last-child {
	padding-bottom: 70px;
}

.home .teaser:nth-last-child(2), .page-id-17231 .teaser:nth-last-child(2), .page-id-22430 .teaser:nth-last-child(2) {
	padding-bottom: 13px;
}


/*______________ job-teaser.css ______________ */

body:not(.ie) .job-teaser {
	bottom: 2%;
	width: 440px;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.page-id-17274:not(.ie) .topbanner, .page-id-22428:not(.ie) .topbanner {
	position: static;
}

.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser  {
	top: 22vw;
	bottom: initial;
}

.page-id-17274:not(.ie) .main, .page-id-22428:not(.ie) .main {
	overflow: hidden;
}

@media only screen and (min-width: 480px) and (max-width: 1279px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		display: block;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 30vw;
		width: 360px;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1023px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 57vw;
	}
}

@media only screen and (min-width: 860px) and (max-width: 990px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 70vw;
		width: 320px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 859px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 80vw;
		width: 320px;
	}
}

@media only screen and (min-width: 560px) and (max-width: 599px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 67vw;
		width: 320px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 559px) {
	.page-id-17274:not(.ie) .job-teaser, .page-id-22428:not(.ie) .job-teaser {
		top: 80vw;
		width: 320px;
	}
}

/*______________ projects.css ______________ */

.projects-pattern__more-btn .icon {
	width: 44px;
	height: 44px;
}

.projects-pattern__more-btn strong {
	margin-top: 7px;
	font-size: 12px;
}


/*______________ form.css ______________ */

.form__container {
	padding: 70px 0 100px;
}

div.wpcf7-response-output {
	top: calc(100% - 100px + 24px);
}

@media only screen and (min-width: 1921px) {
	div.wpcf7-response-output {
		margin: 0 auto;
		left: 0;
		right: 0;
		padding: 0 152px 0 859px;
		width: 1920px;
	}
}

@media only screen and (max-width: 1919px) {
	div.wpcf7-response-output {
		top: calc(100% - 100px + 24px);
	}
}

@media only screen and (min-width: 991px) and (max-width:1023px) {
	div.wpcf7-response-output {
		padding-left: 23.46094%;
	}
}

@media only screen and (max-width: 990px) {
	div.wpcf7-response-output {
		padding-left: 23.46094%;
		left: 4.17%;
	}
}

@media only screen and (max-width: 767px) {
	div.wpcf7-response-output {
		padding-left: 22.28%;
	}
}

@media only screen and (max-width: 719px) {
	div.wpcf7-response-output {
		padding-left: 3%;
		width: inherit;
	}
}

@media only screen and (max-width: 371px) {
	div.wpcf7-response-output {
		padding-left: 3.8%;
	}
}


/*______________ text.css ______________ */

.text h6 {
	line-height: 1.3;
}

.text h6:not(:nth-child(1)) {
	margin-top: 48px;
}


/*______________ Page "Projects Map" Blank ______________ */

body.page-id-17855 .map__in {
	width: 100%;
	height: 100%;
	border-radius: 0;
	left: 0;
	top: 0;
}

body.page-id-17855 .mapboxgl-canvas {
	border-radius: 0;
}

body.page-id-17855 .map__close {
	display: none;
}

body.page-id-17855 .main {
	padding-bottom: 0;
}
